<% @shelters.each_with_index do |shelter, index| %>
  <div id="shelter-<%= index %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>
