<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <navbar>
      <ul>
        <li><%= link_to "Pets", "/pets" %></li>
        <li><%= link_to "Shelters", "/shelters" %></li>
        <li><%= link_to "Veterinarians", "/veterinarians" %></li>
        <li><%= link_to "Veterinary Offices", "/veterinary_offices" %></li>
        <li style="float:right" >
          <%= link_to 'Admin', '/admin/shelters' %>
        </li>
      </ul>
    </navbar>
    <%= yield %>
  </body>
</html>
